h1, h2, form{
    display: flex;
    align-items: center;
    justify-content: center;
}



td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }

th{
    border-bottom: 2px solid black
}

table{
    border-collapse: collapse;
}